include nav-item.mixin.pug

+tikui-nav-item({ main: true}) Nav item main
+tikui-nav-item({ main: true, selected: true }) Nav item main selected
+tikui-nav-item Nav item child
+tikui-nav-item({ selected: true }) Nav item child selected
