mixin tikui-logo(options)
  -const {width} = options || {};
  -const widthSize = +width || 115;
  -const heightSize = (widthSize * 67) / 115;
  img.tikui-logo(src='[[TIKUI_BASEPATH]]atom/logo/logo.svg' width=widthSize height=heightSize alt='Tikui logo')
