include template-page.mixin.pug

include /atom/button/button.mixin.pug
include /atom/nav-item/nav-item.mixin.pug
include /atom/paragraph/paragraph.mixin.pug
include /atom/title/title-main/title-main.mixin.pug
include /atom/title/title-section/title-section.mixin.pug
include /molecule/nav-vertical/nav-vertical.mixin.pug
include /organism/header/header.mixin.pug
include /organism/spacing/horizontal-spacing/horizontal-spacing.mixin.pug
include /organism/spacing/vertical-spacing/vertical-spacing.mixin.pug

+tikui-template-page({atomized: true})
  +tikui-template-page--header
    +tikui-template-page--header-container
      +tikui-header
  +tikui-template-page--body
    +tikui-template-page--nav
      +tikui-nav-vertical
        +tikui-nav-vertical--item(1)
          +tikui-nav-item({main: true}) Main link
        +tikui-nav-vertical--item(2)
          +tikui-nav-item First child link
        +tikui-nav-vertical--item(2)
          +tikui-nav-item({selected: true}) Selected child link
        +tikui-nav-vertical--item(3)
          +tikui-nav-item Level 3 child link
    +tikui-template-page--container
      +tikui-vertical-spacing(100)
        +tikui-vertical-spacing--line({selector: 'section'})
          +tikui-vertical-spacing(64)
            +tikui-vertical-spacing--line
              +tikui-vertical-spacing(16)
                +tikui-vertical-spacing--line
                  +tikui-title-main({selector: 'h1'}) Main #[span.tikui-title-main--bordered title]
                +tikui-vertical-spacing--line
                  +tikui-paragraph Paragraph
                +tikui-vertical-spacing--line
                  +tikui-paragraph({bold: true}) Bold paragraph
            +tikui-vertical-spacing--line
              +tikui-horizontal-spacing(32)
                +tikui-horizontal-spacing--column
                  +tikui-button Primary
                +tikui-horizontal-spacing--column
                  +tikui-button({alternative: 'secondary'}) Secondary
        +tikui-vertical-spacing--line({selector: 'section'})
          +tikui-vertical-spacing(16)
            +tikui-vertical-spacing--line
              +tikui-title-section Section title
            +tikui-vertical-spacing--line
              +tikui-paragraph Paragraph
