include linear-molecule.mixin.pug

include /molecule/atom/atom.mixin.pug

+tikui-linear-molecule
  +tikui-linear-molecule--atom
    +tikui-atom First
  +tikui-linear-molecule--atom
    +tikui-atom Second
