mixin tikui-button(options)
  -const {alternative, href} = options || {};
  -const alternativeClass = alternative ? `-${alternative}` : null;
  -const selector = href ? 'a' : 'button';
  #{selector}.tikui-button(class=alternativeClass href=href)
    block
