@mixin tikui-horizontal-spacing--column-size($size) {
  &.-s#{$size} > &--column {
    margin-right: $size * 1px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.tikui-horizontal-spacing {
  @each $size in $tikui-size-spacing {
    @include tikui-horizontal-spacing--column-size($size);
  }
  display: flex;

  &.-inline {
    display: inline-flex;
  }

  &.-equivalent > &--column {
    flex-basis: 0;
    flex-grow: 1;
  }
}
