include horizontal-spacing.mixin.pug

+tikui-horizontal-spacing(32)
  +tikui-horizontal-spacing--column Column 1
  +tikui-horizontal-spacing--column Column 2

+tikui-horizontal-spacing(32, {equivalent: true})
  +tikui-horizontal-spacing--column Column 1
  +tikui-horizontal-spacing--column Column 2
  +tikui-horizontal-spacing--column Column 3
