$tikui-color-primary: #310ca3 !default;
$tikui-color-secondary: #fa9fb8 !default;
$tikui-color-tertiary: #ffab82 !default;
$tikui-color-background: #fff7f3 !default;
$tikui-color-background-secondary: #ffd5c1 !default;
$tikui-color-shade-100: #fff !default;

$tikui-color-text-dark: $tikui-color-primary !default;
