$tikui-paragraph-color-text: $tikui-color-primary !default;
$tikui-paragraph-font-family: $tikui-font-family-main !default;
$tikui-paragraph-font-size: 16px !default;
$tikui-paragraph-line-height: $tikui-size-line-standard !default;

.tikui-paragraph {
  @include tikui-q-text-bold;
  margin: 0;
  padding: 0;
  line-height: $tikui-paragraph-line-height;
  color: $tikui-paragraph-color-text;
  font-family: $tikui-paragraph-font-family;
  font-size: $tikui-paragraph-font-size;
}
