include paragraph.mixin.pug

+tikui-paragraph({bold: true}) Bold paragraph

+tikui-paragraph Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed elementum sit amet odio et dapibus. Duis sodales quam at eros ornare, sed finibus neque convallis. Quisque fringilla porta ante sit amet commodo. Pellentesque fringilla ligula in pellentesque lacinia. Aliquam bibendum pulvinar tempus. Vestibulum faucibus hendrerit finibus. In mollis enim id quam scelerisque aliquam. Mauris pretium varius condimentum. Sed finibus, urna a imperdiet laoreet, felis neque porta ligula, at iaculis odio est quis sapien. Phasellus hendrerit risus vulputate elit auctor lobortis.
