mixin tikui-title-section(options)
  -const {selector, id} = options || {};
  -const selectorResolved = selector ? selector : 'div';
  #{selectorResolved}.tikui-title-section(id=id || null)
    block
