extends /layout

include /page.mixin.pug

include /atom/link/link.mixin.pug
include /atom/paragraph/paragraph.mixin.pug
include /atom/title/title-main/title-main.mixin.pug
include /atom/title/title-section/title-section.mixin.pug
include /organism/spacing/vertical-spacing/vertical-spacing.mixin.pug
include /template/template-page/template-page.mixin.pug

block body
  +tikui-page('about.html')
    +tikui-template-page--container
      +tikui-vertical-spacing(32)
        +tikui-vertical-spacing--line
          +tikui-title-main({selector: 'h1'}) About
        +tikui-vertical-spacing--line
          +tikui-vertical-spacing(16)
            +tikui-vertical-spacing--line
              +tikui-title-section({selector: 'h2'}) Author
            +tikui-vertical-spacing--line
              +tikui-paragraph There is not really one author for this website cause the contributors come from this #[+tikui-link('https://gitlab.com/tikui/tikui.org/-/graphs/main') GitLab Repository].
            +tikui-vertical-spacing--line
              +tikui-title-section({selector: 'h2'}) Hosting
            +tikui-vertical-spacing--line
              +tikui-paragraph This website is hosted by GitLab using pages, all information about the hosting are on their #[+tikui-link('https://about.gitlab.com/fr-fr/mentions-legales/') website].
            +tikui-vertical-spacing--line
              +tikui-paragraph The domain is hosted by OVH, all information about the hosting are on their #[+tikui-link('https://www.ovh.com/fr/support/mentions-legales/') website].
