extends /layout

include /page.mixin.pug

include /prism.mixin.pug

include /atom/link/link.mixin.pug
include /atom/paragraph/paragraph.mixin.pug
include /atom/title/title-main/title-main.mixin.pug
include /atom/title/title-section/title-section.mixin.pug
include /atom/title/title-part/title-part.mixin.pug
include /organism/spacing/vertical-spacing/vertical-spacing.mixin.pug
include /template/template-page/template-page.mixin.pug

block body
  +tikui-page('get-started.html')
    +tikui-template-page--container
      +tikui-vertical-spacing(32)
        +tikui-vertical-spacing--line
          +tikui-vertical-spacing(24)
            +tikui-vertical-spacing--line
              +tikui-title-main({selector: 'h1'}) Get started
            +tikui-vertical-spacing--line
              +tikui-paragraph({bold: true}) Take a few minutes to install Tikui and to create your first component if you want. We will guide you step by step. You'll see, it's very easy to do.
        +tikui-vertical-spacing--line
          +tikui-vertical-spacing(16)
            +tikui-vertical-spacing--line
              +tikui-title-section({selector: 'h2'}) Intalling Tikui
            +tikui-vertical-spacing--line
              +tikui-paragraph Take a few minutes to install Tikui. We will guide you step by step. You'll see, it's very easy to do.
        +tikui-vertical-spacing--line
          +tikui-vertical-spacing(16)
            +tikui-vertical-spacing--line
              +tikui-title-part({selector: 'h3'}) Step 1: Install requirements
            +tikui-vertical-spacing--line
              +tikui-paragraph Make sure you have #[+tikui-link('https://nodejs.org/') Node.js] installed before setting up Tikui.
            +tikui-vertical-spacing--line
              +tikui-paragraph Then install #[a(href='https://github.com/tikui/tikui-cli') Tikui CLI]:
            +tikui-vertical-spacing--line
              +prism('bash') npm i -g @tikui/cli
        +tikui-vertical-spacing--line
          +tikui-vertical-spacing(16)
            +tikui-vertical-spacing--line
              +tikui-title-part({selector: 'h3'}) Step 2: Generate your pattern library
            +tikui-vertical-spacing--line
              +tikui-paragraph The next command will generate #[strong my-pattern-library] folder with a Tikui installation:
            +tikui-vertical-spacing--line
              +prism('bash') tikui generate my-pattern-library
        +tikui-vertical-spacing--line
          +tikui-vertical-spacing(16)
            +tikui-vertical-spacing--line
              +tikui-title-part({selector: 'h3'}) Step 3: Install dependencies
            +tikui-vertical-spacing--line
              +tikui-paragraph Go to the root folder and install:
            +tikui-vertical-spacing--line
              +prism('bash').
                cd my-pattern-library
                npm install
        +tikui-vertical-spacing--line
          +tikui-vertical-spacing(16)
            +tikui-vertical-spacing--line
              +tikui-title-part({selector: 'h3'}) Step 4: Serve and code
            +tikui-vertical-spacing--line
              +tikui-paragraph While you're coding, run the application locally on #[strong localhost:3000].
            +tikui-vertical-spacing--line
              +prism('bash') npm run serve
            +tikui-vertical-spacing--line
              +tikui-paragraph You're now ready to code, please follow the instructions from the #[+tikui-link('https://github.com/tikui/tikui-cli/tree/main/src/cli/generate-project/common#tutorial') generated README.md] to create your first component.
        +tikui-vertical-spacing--line
          +tikui-vertical-spacing(16)
            +tikui-vertical-spacing--line
              +tikui-title-part({selector: 'h3'}) Step 5: Build
            +tikui-vertical-spacing--line
              +tikui-paragraph After you add your styles, you may need to build your assets statically using:
            +tikui-vertical-spacing--line
              +prism('bash') npm run build
            +tikui-vertical-spacing--line
              +tikui-paragraph Now you are able to expose your assets on your favourite server or publish them as a #[strong Node.js] dependency.
