extends /layout

include /atom/button/button.mixin.pug
include /atom/logo/logo.mixin.pug
include /atom/title/title-main/title-main.mixin.pug
include /atom/title/title-section/title-section.mixin.pug
include /atom/title/title-part/title-part.mixin.pug
include /molecule/header-navigation/header-navigation.mixin.pug
include /organism/header/header.mixin.pug

block body
  -const GITHUB = 'https://github.com/tikui/tikui';
  +tikui-header
    +tikui-header--slot
      +tikui-logo
    +tikui-header--slot({expand: true})
      +tikui-header-navigation
        +tikui-header-navigation--slot({selected: true}) Home
        +tikui-header-navigation--slot({href: 'resources.html'}) Resources
        +tikui-header-navigation--slot({href: 'get-started.html'}) Get started
    +tikui-header--slot
      a(href=GITHUB title='Fork me on GitHub')
        img(src='/assets/github.svg' width=35 height=30 alt='GitHub logo')
  section
    +tikui-title-main({selector: 'h1'}) create your#{'\n'}own style#{'\n'}#[span.tikui-title-main--bordered to suit your#{'\n'}product]

    p With Tikui, craft static component, use them into your applications or add graphical components easily and simply thanks to Pattern Library starter.

    p Free software lead by passionated UI developers.

    +tikui-button({href: GITHUB}) GitHub

    +tikui-button({alternative: 'secondary', href: 'get-started.html'}) Get started

  section
    +tikui-title-section({selector: 'h2'}) Start crafting components

    p You want to create your own components. You can start with one component that will be integrated into your application.

  section
    +tikui-title-section({selector: 'h2'}) Integrate a UI provided by a designer

    p Do the integration on the Pattern Library to make it usable for Front-End developers.

  section
    +tikui-title-section({selector: 'h2'}) Bring consistency when your applications styles looks like a patchwork

    p Capitalize on your style, rework your components and bring consistency to your application by keeping your graphical identity safe. You can do it iteratively by starting with simple components.

  section
    +tikui-title-section({selector: 'h2'}) Free software and community driven

    p Tikui is and will always be a free software tool. Check out on GitHub.

    section
      +tikui-title-part({selector: 'h2'}) Read the doc

      p Learn how to get up and running with Tikui, work with atoms, molecules, organisms and templates, and create your own Pattern Library.

      +tikui-button({href: 'doc.html'}) Documentation
    section
      +tikui-title-part({selector: 'h2'}) Resources

      p Links to articles and resources around Atomic Design and Design Systems.

      +tikui-button({href: 'resources.html'}) Resources
