extends /layout

block body
  h1 Tikui website

  ul
    li
      a(href='documentation.html') Read the doc

  section
    h2 What is Tikui?

    p Explain Tikui (Concept / usage / benefits)

  section
    h2 How to create your Pattern Library with Tikui?

    blockquote Maybe use a video to explain on peertube

    ul
      li Install
      li Create a component
      li Build
      li Publish

  section
    h2 Examples

    p Play with the #[a(href='/documentation.html') documentation] of this website that use Tikui.
