doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description' content='Create your own Pattern Library using Tikui')
    block title
      title Tikui
    link(rel='stylesheet', href='[[TIKUI_BASEPATH]]documentation/style.css')
    link(rel='stylesheet', href='[[TIKUI_BASEPATH]]documentation/lib/@fontsource/montserrat/index.css')
    link(rel='stylesheet', href='[[TIKUI_BASEPATH]]documentation/lib/@fontsource/montserrat/700.css')
    link(rel='stylesheet', href='[[TIKUI_BASEPATH]]lib/prismjs/prism-okaidia.css')
  body
    block body
      p Please include a body here.
    script(src='[[TIKUI_BASEPATH]]prism/prism.js')
    script(src='[[TIKUI_BASEPATH]]prism/components/prism-pug.min.js')
    script(src='[[TIKUI_BASEPATH]]prism/components/prism-json.min.js')
    script(src='[[TIKUI_BASEPATH]]prism/components/prism-bash.min.js')
    script(src='[[TIKUI_BASEPATH]]prism/components/prism-typescript.min.js')
