doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description' content='Create your own Pattern Library using Tikui')
    block title
      title Tikui
    link(rel='stylesheet', href='/documentation/style.css')
    link(rel='stylesheet', href='/lib/@fontsource/montserrat/index.css')
    link(rel='stylesheet', href='/lib/@fontsource/montserrat/700.css')
    link(rel='stylesheet', href='/lib/prismjs/prism-okaidia.css')
  body
    block body
      p Please include a body here.
    script(src='/lib/prismjs/prism.js')
    script(src='/lib/prismjs/prism-pug.js')
