doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description' content='Create your own Pattern Library using Tikui')
    block title
      title Tikui
    link(href='/tikui.css' rel='stylesheet')
    link(href='/montserrat/index.css' rel='stylesheet')
    link(href='/montserrat/700.css' rel='stylesheet')
    link(href='/prism/themes/prism-okaidia.css' rel='stylesheet')
  body
    block body
      p Please include a body here.
    script(src='/prism/components/prism-core.min.js')
    script(src='/prism/plugins/autoloader/prism-autoloader.min.js')
