include /molecule/header-navigation/header-navigation.mixin.pug
include /organism/header/header.mixin.pug
include /template/template-page/template-page.mixin.pug

mixin tikui-page-navigation-slot(page, current)
  +tikui-header-navigation--slot({selected: current === page, href: `[[TIKUI_BASEPATH]]${page}`})
    block

mixin tikui-page(current, options)
  -const GITLAB = 'https://gitlab.com/tikui/tikui.org';
  +tikui-template-page(options)
    +tikui-template-page--header
      +tikui-template-page--container
        +tikui-header
          +tikui-header--slot
            a(href='[[TIKUI_BASEPATH]]index.html')
              +tikui-logo
          +tikui-header--slot({expand: true})
            +tikui-header-navigation
              +tikui-page-navigation-slot('index.html', current) Home
              +tikui-page-navigation-slot('doc.html', current) Documentation
              +tikui-page-navigation-slot('get-started.html', current) Get started
              +tikui-page-navigation-slot('about.html', current) About
          +tikui-header--slot
            a(href=GITLAB title='Fork me on GitLab')
              img(src='[[TIKUI_BASEPATH]]assets/gitlab.svg' width=35 height=30 alt='GitLab logo')
    +tikui-template-page--body
      block
