.tikui-vertical-spacing.-s24
  .tikui-vertical-spacing--line
    h2.tikui-title-section#spacing Spacing
  .tikui-vertical-spacing--line
    include:componentDoc(height=60) horizontal-spacing/horizontal-spacing.md
    include:componentDoc(height=80) vertical-spacing/vertical-spacing.md
